.deliverNode {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: row;
  min-height: 400px;
}

.inputDataContainer {
  border: 1px solid #d0d0d0;
  flex: 1;
  max-width: 500px;
  background-color: #fff;
  margin-right: 50px;
  border-radius: 3px;
  /* -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.14); */
  /* box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.14); */
}

.mapContainer {
  border: 1px solid #d0d0d0;
  flex: 1;
  max-width: 650px;
  background-color: #f3f3f3;
  /* max-height: 500px; */
  border-radius: 3px;
  height: 54vh;
}

.formBasicInput {
  font-family: "MoveTextRegular", sans-serif;
  /* border: none; */
  border: 1px solid #f3f3f3;
  border-radius: 1px;
  font-size: 16px;
  padding: 10px;
  padding-left: 25px;
  width: 90%;
  margin-bottom: 15px;
  height: 25px;
  background-color: #f3f3f3;
}

.lineSideDeco {
  /* border: 1px solid black; */
  height: 71px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 18px;
  width: 17px;
  align-items: center;
  margin-left: 5px;
  z-index: 1000;
}

.decoShapes {
  width: 9px;
  height: 9px;
  position: relative;
}

.lineAssocDeco {
  border-left: 1px solid black;
  flex: 1;
  position: relative;
}

.addMoreDropOffBtn {
  border: 1px solid #d0d0d0;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 15px;
  width: 185px;
  border-radius: 50px;
  padding: 5px;
  cursor: pointer;
  margin-bottom: 50px;
  margin-top: 20px;
}
.addMoreDropOffBtn:hover {
  background-color: #f3f3f3;
}

.primitiveContainer {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
}

.locationsInputsContainer {
  flex: 1;
  position: relative;
  right: 20px;
}

.dropOffPrimitiveContainer {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.removeDropOffIco {
  position: absolute;
  width: 20px;
  height: 20px;
  cursor: pointer;
  color: #b22222;
  /* border: 1px solid black; */
  right: -20px;
  margin-top: 27px;
}

.higherOrderPrimitiveContainer {
  /* border: 1px solid black; */
}

.accordionClassics {
  /* border: 1px solid black; */
  box-shadow: none;
}

.accordionIcoClassics {
  /* border: 1px solid black; */
  position: absolute;
  width: 17px;
  height: 17px;
  right: 0;
}

.receiverDetails {
  /* border: 1px solid blue; */
  position: relative;
  bottom: 10px;
}

.addReceiverVirginInsider {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  font-family: "MoveTextMedium", sans-serif;
}

.formBasicInputClassics {
  font-family: "MoveTextRegular", sans-serif;
  border: 1px solid #d0d0d0;
  border-radius: 3px;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
}

.formBasicSubmitBttnClassicsReceiverInfos {
  font-family: "MoveTextRegular", sans-serif;
  border: 1px solid #096ed4;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  padding: 10px;
  height: 20px;
  background-color: #096ed4;
  color: #fff;
  font-family: "MoveTextBold", sans-serif;
  cursor: pointer;
  min-width: 100px;
}

.formBasicSubmitBttnClassics {
  font-family: "MoveTextRegular", sans-serif;
  border: 1px solid #000;
  border-radius: 2px;
  font-size: 15px;
  height: 57px;
  background-color: #000;
  color: #fff;
  font-family: "MoveTextBold", sans-serif;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
}

.formBasicInputClassics > input {
  border: 1px solid #fff;
  font-family: "MoveTextRegular", sans-serif;
  font-size: 16px;
}

.formBasicInputClassics > input:focus {
  border: 1px solid #fff;
  font-family: "MoveTextRegular", sans-serif;
  font-size: 16px;
}

.addReceiverFilledInsider {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  font-family: "MoveTextMedium", sans-serif;
  justify-content: space-between;
  width: 90%;
}

.updateReceiverInsideContainer {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.makeSameContainer {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
}

.textSideMakeSameContainer {
  /* border: 1px solid black; */
  margin-left: 2px;
}

.mainTitleMakeSameContainer {
  font-family: "MoveTextMedium", sans-serif;
  font-size: 14px;
}

.descrMakeSameContainer {
  font-family: "MoveTextLight", sans-serif;
  font-size: 14px;
  margin-top: 3px;
}

.gloalTripInfos {
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  padding: 10px;
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.icoGlobalTripsIfos1 {
  width: 7px;
  height: 7px;
  position: relative;
  bottom: 1px;
}

.icoGlobalTripsIfos2 {
  width: 13px;
  height: 13px;
  position: relative;
  right: 3px;
  top: 1px;
  color: #096ed4;
}

.elGlobalTripIfos {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
}

.elGlobalTripIfos2 {
  /* border: 1px solid black; */
  font-family: "MoveTextLight", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 13px;
  margin-bottom: 5px;
}

.globalInfosPrimitiveContainer {
  /* border: 1px solid black; */
  width: 10px;
}

/* Request button */
.requestBtnContainer {
  /* border: 1px solid black; */
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

/* Search */
.pickupLocationPrimitiveContainer {
  /* border: 1px solid black; */
}

.searchPrimitiveContainer {
  border: 1px solid #d0d0d0;
  position: absolute;
  top: 48px;
  width: 98%;
  background-color: #fff;
  min-height: 70px;
  z-index: 200000;
  -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.14);
  /* padding-top: 10px; */
}

.searchSingleItem {
  border-bottom: 1px solid #d0d0d0;
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 10px;
  cursor: pointer;
}
.searchSingleItem:hover {
  background-color: #f3f3f3;
}

.searchedInfosTextContainer {
  /* border: 1px solid black; */
  margin-left: 5px;
  flex: 1;
}

.locationNameSearched {
  font-family: "MoveTextMedium", sans-serif;
  font-size: 15px;
}

.detailsLocationSearched {
  font-size: 14px;
  margin-top: 5px;
  color: #686767bb;
}

.dateExtrDeliveryBtn {
  font-family: "MoveTextRegular", sans-serif;
  font-size: 14px;
  margin-top: 3px;
}

.inputPrimitiveContainer {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.findMyLocationInputContainer {
  /* border: 1px solid black; */
  z-index: 9000000;
  position: absolute;
  right: 0;
  top: 0;
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7c6e6ebb;
  cursor: pointer;
}

.findMyLocationInputContainer:hover {
  color: #096ed4;
}
